.fixed_img {
  background-image: url(../../assets/images/fixed-image/bg-image-3.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
